{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Welcome to the Community Area of Healthy Food Club!</h1>
        <p class="pt-4">This is where we share healthy recipes, information and tips & tricks for a better food
            lifestyle. We aim to generate positive discussion for all those interested in becoming more aware of what we
            eat. Join us today and share your favorite recipes! We also have a useful search and filter option for our
            members. Give it a try!</p>
    </section>
</div>
{% endblock %}