{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="text-center p-2" id="hero-image">
  <div class="container p-2" id="hero-text">
    {% if user.is_authenticated %}
    <h2 class="main-title mt-4 mx-auto">Welcome back {{ user.username }}!</h2>
    {% else %}
    <h2 class="main-title mt-4 mx-auto">Welcome to the Community of Healthy Food Club!</h2>
    {% endif %}
    <p class="pt-2">This is where we share healthy recipes, information and tips & tricks for a better food
      lifestyle. We aim to generate positive discussion for all those interested in becoming more aware of what we
      eat. Join us today and share your favorite recipes! We also have a useful search and filter option. Give it
      a try!</p>
  </div>
</section>
<section class="container flex-column">
  <!-- Section Title and Search Button -> trigger modal -->
  <div class="search-button">
    <h3 class="mt-3">Recipes</h3> {{ page.count }}
    <button id="search-btn" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Search <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <hr>
  <div class="recipe-cont">
    {% for recipe in page_obj %}
    <a href="{% url 'recipe_detail' recipe.slug %}" class="img-container">
      <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" style="width: 100%">
      <div class="centerd">
        <h5>{{recipe.title}}</h5>
        <p class="stars">
          <span class="fa fa-star {% if recipe.average_rating > 0 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if recipe.average_rating > 1 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if recipe.average_rating > 2 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if recipe.average_rating > 3 %} checked {% endif %}"></span>
          <span class="fa fa-star {% if recipe.average_rating > 4 %} checked {% endif %}"></span>
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
  {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}&{{ query_string }}" class="page-link">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}&{{ query_string }}" class="page-link"> NEXT &raquo;</a> {{page.num_pages}}</li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</section>
<!-- Modal - for search options -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h4 class="modal-title" id="search-option-title">Search options</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="checkbox-filter" role="search" method="GET" action="{% url 'home'  %}">
          <fieldset>
            <legend>Quick search</legend>
            <ul class="d-flex flex-wrap list-unstyled">
              <li><input type="checkbox" id="lowsugar" name="lowsugar"><label for="lowsugar" class="me-4"><i
                    class="fa-solid fa-cubes-stacked p-2" title="Low-Sugar"></i> Low-Sugar</label></li>
              <li><input type="checkbox" id="glutenfree" name="glutenfree"><label for="glutenfree" class="me-4"><i
                    class="fa-solid fa-wheat-awn-circle-exclamation p-2" title="Gluten-Free"></i> Gluten-Free</label>
              </li>
              <li><input type="checkbox" id="dairyfree" name="dairyfree"><label for="dairyfree" class="me-4"><i
                    class="fa-solid fa-cow p-2" title="Dairy-Free"></i> Dairy-Free</label></li>
              <li><input type="checkbox" id="vegan" name="vegan"><label for="vegan" class="me-4"><i
                    class="fa-solid fa-carrot p-2" title="Vegan"></i> Vegan</label></li>
              <li><input type="checkbox" id="vegitarian" name="vegitarian"><label for="vegitarian" class="me-4"><i
                    class="fa-solid fa-egg p-2" title="Vegitarian"></i> Vegitarian</label></li>
              <li><input type="checkbox" id="highfiber" name="highfiber"><label for="highfiber" class="me-4"><i
                    class="fa-solid fa-apple-whole p-2" title="High-Fiber"></i> High-Fiber</label></li>
              <li><input type="checkbox" id="highprotein" name="highprotein"><label for="highprotein" class="me-4"><i
                    class="fa-solid fa-fish p-2" title="High-Protein"></i> High-Protein</label></li>
              <li><input type="checkbox" id="nutfree" name="nutfree"><label for="nutfree" class="me-4"><i
                    class="fa-solid fa-tablets p-2" title="Nut-Free"></i> Nut-Free</label></li>
            </ul>
          </fieldset>
          <div class="modal-button pb-2 mb-2">
            <button type="submit" class="btn btn-success" form="checkbox-filter">Search</button>
          </div>
        </form>
        <form id="ingre-search" role="search" method="GET" action="{% url 'home'  %}">
          <fieldset>
            <legend>Ingredients search</legend>
            <label for="avoid-search">Avoid ingredients</label>
            <input id="avoid-search" class="form-control me-2 p-2 mb-2" name="q-avoid" type="search"
              placeholder="Ingredients to be avoided" aria-label="Input avoid ingredients">
            <label for="include-search">Include ingredients</label>
            <input id="include-search" class="form-control me-2 p-2 mb-2" name="q-incl" type="search"
              placeholder="Preferred ingredients" aria-label="Prefer ingredients">
          </fieldset>
          <div class="modal-button pb-2 mb-2">
            <button type="submit" class="btn btn-success" form="ingre-search">Search</button>
          </div>
        </form>
        <form id="free-search" role="search" method="GET" action="{% url 'home'  %}">
        <label for="free-word-search" class="pt-3">Free search</label><br>
        <input id="free-word-search" class="me-2 p-2" name="q-free" type="search" placeholder="Free Search"
          aria-label="Free Search">
        <button type="submit" class="btn btn-success" form="free-search">Search</button>
        </form>
        <form id="owner-search" role="search" method="GET" action="{% url 'home'  %}">
          <label for="owner-id-search" class="pt-3">Recipe's Owner search</label><br>
          <select id="owner-id-search" name="q-owner" class="p-2" aria-label="Owner Search">
            <option disabled="disabled" selected>Select recipe's owner from here! </option>
            {% for owner in all_users %}
            <option value="{{ owner.id }}">{{ owner.username }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-success" form="owner-search">Search</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}