{% extends "base.html" %}
{% load static %}
{% block title %}Create Recipe{% endblock %}

{% block content %}
<div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Create Recipe</li>
        </ol>
    </nav>
    <div class="form">
        <h2 class="text-center">Create Recipe</h2>
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {% crispy form %}
    </div>
</div>
{% endblock %}