{% extends "base.html" %}
{% load static %}
{% block title %}Edit Recipe{% endblock %}

{% block content %}
<div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home - Recipes</a></li>
          <li class="breadcrumb-item"><a href="{% url 'recipe_detail' object.slug %}">{{object.title}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Recipe</li>
        </ol>
    </nav>
    <div class="form">
        <h2 class="text-center">Edit Recipe</h2>
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {% crispy form %}
    </div>
    <!-- Return to detail's page -->
    <div class="text-center"><a class="btn btn-secondary mb-3" href="{% url 'recipe_detail' object.slug %}">
        Go back to the recipe</a></div>
</div>
{% endblock %}