/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poiret+One&display=swap');

:root {
    /** Fonts */
    --title: 'Poiret One', sans-serif;
    --main-font: 'Josefin Sans', sans-serif;

    /* Colours */
    --logo-green: rgb(59, 115, 57);
    --mos-green: rgb(87, 105, 75);
    --light-green: #A9E560;
    --white-green: rgb(239, 255, 239);
    --white-orange: rgb(253, 236, 211);
    --strong-orange: rgb(230, 87, 5);
    --dark-orange: rgb(85, 32, 1);
    --white: #fff;
    --star-gray: #ddd;
    --dark-green: rgb(24, 48, 24);
    --black: #000;

    /* Shadows */
    --small-shadow: 1px -1px 7px rgb(24, 48, 24);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

main {
    flex: 1 0 auto;
    background-color: var(--white);
}

h1 {
    margin-top: 7px;

}

/*---------------------------------------------------------- Header */

.navbar {
    background-color: var(--logo-green);
}

.logo {
    color: var(--white-green);
    /* Title logo font */
    font-family: var(--title);
    font-size: 1.8rem;
    font-weight: 500;
    font-style: normal;
}

.community-top {
    color: var(--white-green);
    font-size: 1.1rem;
}

.nav-item>a,
.dropdown-item {
    color: var(--white-green);
}

.navbar-brand:focus,
.navbar-brand:hover,
.nav-link:focus,
.nav-link:hover {
    color: var(--light-green);
}

.navbar-nav .nav-link.active {
    color: var(--white-green);
    border-bottom: 2px solid var(--light-green);
    font-weight: 500;
}

.navbar-toggler:hover {
    background-color: var(--light-green);
}
.navbar-toggler>span:focus {
    border: none;
}

.dropdown-menu {
    background-color: var(--logo-green);
}

.dropdown-item:hover,
.dropdown-item:active {
    color: var(--light-green);
    background-color: var(--dark-green);
}

.dropdown-item.active {
    background-color: var(--logo-green);
    border-bottom: 2px solid var(--light-green);
}


/*---------------------------------------------------------- messages */

.messages {
    border: 1px solid orangered;
    background-color: var(--white-orange);
}

.messages li {
    text-decoration: none;
}

/*---------------------------------------------------------- form */

.modal-button {
    border-bottom: solid 1px var(--star-gray);
    text-align: right;
}

#free-search input,
#owner-search select {
    border-radius: 7px;
    border: solid 1px var(--star-gray);
    color: gray;
}

#checkbox-filter i {
    color: var(--mos-green);
    font-size: 170%;
}

#checkbox-filter li:hover {
    color: var(--logo-green);
}

/*----------------------------------------------------------  Home */
#hero-image {
    width: 100%;
    background: url(/static/images/foods-on-the-table-pexels-ella.webp) center/cover no-repeat;
}

#hero-text {
    counter-reset: var(--black);
}

.search-button{
    position: relative;
    width: 100%;
}

#search-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--strong-orange);
    background-color: var(--white-orange);
    border: solid 1px var(--strong-orange);
    box-shadow: var(--small-shadow);
    font-weight: 700;
}

.recipe-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--white-green);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--black);
    box-shadow: var(--small-shadow);
}

a.img-container:hover {
    color: var(--light-green);
}

.img-container img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.centerd {
    width: 100%;
    background-color: #082702c9;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
    padding: 0.5rem;
}

.centerd p {
    color: var(--star-gray);
}

/*---------------------------------------------------------- Recipe detail page */

.rating,
.category {
    color: var(--star-gray);
}

.category>i {
    font-size: 140%;
    padding: 0.4rem;
}

.category-on {
    color: var(--mos-green);
}

.category>strong,
.rating>strong {
    color: var(--black);
}
/*---------------------------------------------------------- Star rating */

li>input:checked ~ label {
    color: var(--strong-orange);
}

.rating-list li {
    float: right;
    color: var(--star-gray);
    padding: 3px 5px;
}

.rating-list li:hover,
.rating-list li:hover ~ li {
    color: var(--strong-orange);
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.checked:hover,
.checked {
    color: var(--strong-orange);
}

/*---------------------------------------------------------- Footer */
footer {
    flex-shrink: 0;
    display: flex;
    background-color: var(--mos-green);
    color: var(--white);
    font-weight: 100;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

#social-networks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
    max-width: 250px;
}
#social-networks a {
    color: var(--white-green);
}

/* Media query: General smart phone (768px and up) */
@media screen and (min-width:768px) {

    .logo {
        font-size: 2.2rem;
    }
    .community-top {
        font-size: 1.5rem;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .form {
        padding: 2% 6%;
        max-width: 700px;
    }

    .recipe-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 29%;
    }


}

/* Media query: General smart phone (1024px and up) */
@media screen and (min-width:1024px) {

    .main-title {
        width: 65%;
    }

    .logo {
        font-size: 2.7rem;
    }
    .community-top {
        font-size: 1.8rem;
    }
    
    #free-search input,
    #owner-search select {
        width: 70%;
    }

    .form {
        padding: 3% 8%;
        max-width: 935px;
    }

    .flex-row-form>.mb-3 {
        width: 45%;
    }

    footer {
        padding-right: 10%;
        padding-left: 10%;
    }
}
