{% extends "base.html" %}
{% load static %}
{% block title %}Edit Post{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" class="form">
        <h2 class="text-center">Edit Post</h2>
        {% load crispy_forms_tags %}
        {% csrf_token %}
        {% crispy form %}
    </form>
    <!-- Return to detail's page -->
    <div class="text-center"><a class="btn btn-secondary mb-3" href="{% url 'post_detail' object.slug %}">
        Go back to the post</a></div>
</div>
{% endblock %}