{% extends "base.html" %}
{% load static %}
{% block title %}Add Post{% endblock %}

{% block content %}
<section class="text-center p-2" id="hero-image">
  <!-- Breadcrumb -->
  <nav class="container" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Post list-page</li>
    </ol>
  </nav>
  <div class="container p-2" id="hero-text">
    <!-- Change the welcome message depend on the user's status - authenticated -->
    {% if user.is_authenticated %}
    <h2 class="main-title mt-4 mx-auto">Join the conversation and share your great ideas! {{ user.username }}!</h2>
    {% else %}
    <h2 class="main-title mt-4 mx-auto">Here we have some topics that some members wants to talk.</h2>
    {% endif %}
    <p class="pt-2">Please feel free to share the post, your comment will appear on the first line once approved.</p>
  </div>
</section>
<section class="container flex-column">
  <!-- Section Title and Search Button -> trigger modal -->
  <div class="search-button">
    <h3 class="mt-3"><i class="fa-solid fa-newspaper"></i> Latest Posts</h3>
    <button id="search-btn" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#PostSearchModal">
      Search <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
  <hr>
  <div class="recipe-cont">
    {% for post in posts %}
    <a href="{% url 'post_detail' post.slug %}" class="post-container m-3" aria-label="Click to view {{post.title}}">
      <div class="card">
        <img src="{{post.image.url}}" class="card-img-top" alt="{{post.image_alt}}">
        <div class="card-body">
          <h3 class="card-title">{{post.title|truncatechars:60}}</h3>
          <p class="card-text">{{post.post_body|truncatechars:100|safe}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</section>
<!-- Pagination -->
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}&{{ query_string }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}&{{ query_string }}" class="page-link"> NEXT &raquo;</a>
      {{page.num_pages}}</li>
    {% endif %}
  </ul>
</nav>
{% endif %}

<!-- Unapproved post - display only the post's author -->
<section class="container flex-column">
  <!-- Section Title and Search Button -> trigger modal -->
  <div class="search-button">
    <h4 class="mt-3"><i class="fa-solid fa-newspaper"></i> Waiting to be approved</h4>
  </div>
  <hr>
  <div class="recipe-cont">
    {% if user.is_authenticated %}
    {% for pos in unapproved %}
    {% if pos.user == user %}
    <a href="{% url 'post_detail' pos.slug %}" class="post-container" aria-label="Click to view {{pos.title}}">
      <div class="card m-3 faded">
        <img src="{{pos.image.url}}" class="card-img-top" alt="{{pos.image_alt}}">
        <div class="card-body">TestTest
          <h3 class="card-title">{{pos.title|truncatechars:60}}</h3>
          <p class="card-text">{{pos.post_body|truncatechars:100|safe}}</p>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</section>

<!-- Modal - for Post search options -->
<div class="modal fade" id="PostSearchModal" tabindex="-1" aria-labelledby="PostSearchModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h4 class="modal-title" id="search-option-title">Post - Search options</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Word search - avoid and/or include -->
        <form id="words-search" role="search" method="GET" action="{% url 'posts'  %}">
          <fieldset>
            <legend>Words search</legend>
            <label for="avoid-search">Avoid words</label>
            <input id="avoid-search" class="form-control me-2 p-2 mb-2" name="q-avoid" type="search"
              placeholder="Words to be avoided" aria-label="Words to be avoided">
            <label for="include-search">Include words</label>
            <input id="include-search" class="form-control me-2 p-2 mb-2" name="q-incl" type="search"
              placeholder="Include words" aria-label="Include words">
          </fieldset>
          <div class="modal-button pb-2 mb-2">
            <button type="submit" class="btn btn-success" form="words-search">Search</button>
          </div>
        </form>
        <!-- Owner search - 'all_users' get the User model's ids and usernames -->
        <form id="owner-search" role="search" method="GET" action="{% url 'posts'  %}">
          <label for="owner-id-search" class="pt-3">Posts' Owner search</label><br>
          <select id="owner-id-search" name="q-owner" class="p-2" aria-label="Owner Search">
            <option disabled="disabled" selected>Select posts' owner from here! </option>
            {% for owner in all_users %}
            <option value="{{ owner.id }}">{{ owner.username }}</option>
            {% endfor %}
          </select>
          <button type="submit" class="btn btn-success" form="owner-search">Search</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}