{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Post Detail - {{post.title}}{% endblock %}

{% block content %}
<div class="container">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'posts' %}">Post list-page</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
        </ol>
      </nav>
    <!-- Post's image, title and some information -->
    <div class="row mt-3 p-1">
        <div class="col-md-8 col-lg-6">
            <h2 class="text-center"><i class="fa-solid fa-newspaper"></i> {{post.title}}</h2>
            <p class="text-center">Posted by {{post.user}} on {{post.posted_date}}</p>
            <hr>
            <p>{{ post.post_body|safe }} </p>
            <!-- If post's user display Edit/Delete button -->
            {% if request.user == post.user %}
            <div class="text-center">
                <a href="{% url 'edit_post' post.slug %}" class="btn btn-warning w-25">Edit</a>
                <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger w-25">Delete</a>
            </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-lg-6 mt-2">
            <img src="{{ post.image.url }}" alt="{{ post.image_alt }}" class="recipe-pic">
        </div>
    </div>

    <!-- User comments -->
    <div class="row">
        <!-- All the comments related to this post - comment owner can edit/delete -->
        <div class="col-md-8 p-3">
            <h4><i class="fa-solid fa-comment-dots"></i> Comments</h4>
            <hr>
            <div class="card-body">
                <!-- for loop inside the empty control tags to iterate through each comment in recipe comments -->
                {% for comment in comments %}
                <div class="p-2">
                    <p class="fw-bold">
                        {{ comment.commenter }}
                        <span class="fw-normal">
                            {{ comment.posted_date }}
                        </span> wrote:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.comment_body | linebreaks }}
                    </div>
                    {% if user.is_authenticated and request.user == comment.commenter %}
                    <button class="btn btn-delete btn-danger" data-comment_id="{{ comment.id }}">Delete</button>
                    <button class="btn btn-edit btn-warning" data-comment_id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Comment form for authenticated user -->
        <div class="col-md-4 p-3">
            <div class="card-body">
                <h4><i class="fa-solid fa-comment-dots"></i> Leave a comment</h4>
                <hr>
                {% if user.is_authenticated %}
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post" style="margin-top: 1.3em;">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit" class="btn btn-signup btn-success">Submit</button>
                </form>
                {% else %}
                <p>Log in to leave a comment.<a href="/accounts/login" aria-label="Log-in link" title="Log-in"><button><i
                    class="fa-solid fa-right-to-bracket"></i>Log-in</button></a>, or join our community <a
                href="/accounts/signup" aria-label="Sign-Up link" title="Sign-up"><i
                    class="fa-solid fa-user-pen"></i> Sign-up</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete your comment?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extras %}
<script src="{% static 'js/post-comment.js' %}"></script>
{% endblock %}